*{
  box-sizing: border-box;
}


.main{
  width: 100%;
  height: 100%;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.top-head-flexed{
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 199;
  width: 100%;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
}

.paper{
  height: 64px;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  overflow: visible;
  width: 100%;
  background-color: #0c0c0c;
}

.screen{
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1312px;
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  z-index: 202;
  align-self: center;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.top-left-list{
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: inherit;
}

.logo-margin{
  margin-right: 48px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.logo-frame{
  display: block;
  width: auto;
  height: 22px;
}

.top-logo{
  display: block;
  width: auto;
  height: 100%;
  fill: #f3f3f3;
}

.category-coming-soon{
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}

.category-list{
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
}

.button{
  opacity: 1;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  background-color: inherit;
  border-width: 0;
  padding: 0;
  overflow: hidden;
  -webkit-box-align: stretch;
  align-items: stretch;
  z-index: 0;
  margin: 0;
}

.category{
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  -webkit-box-flex: 0;
  flex-grow: 0;
  width: 20px;
  height: 0;
}

.comming-soon-button{
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
}

.comming-soon{

}