@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.ttf') format("truetype");
  font-display: swap;
}
@font-face {
	font-family: 'icomoon';
	src:  url('/icomoon/fonts/icomoon.eot?xtugpv');
	src:  url('/icomoon/fonts/icomoon.eot?xtugpv#iefix') format('embedded-opentype'),
	url('/icomoon/fonts/icomoon.ttf?xtugpv') format('truetype'),
	url('/icomoon/fonts/icomoon.woff?xtugpv') format('woff'),
	url('/icomoon/fonts/icomoon.svg?xtugpv#Jam-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ic_arrow_down_primary:before {
	content: "\e900";
}
.icon-ic_arrow_up_primary:before {
	content: "\e901";
}
.icon-ic_naverpost-1:before {
	content: "\e902";
}
.icon-ic_login_naver:before {
	content: "\e903";
}
.icon-ic_login_kakaotalk:before {
	content: "\e904";
}
.icon-ic_facebook:before {
	content: "\e905";
}
.icon-ic_downwards_arrow:before {
	content: "\e906";
}
.icon-ic_medium:before {
	content: "\e907";
}
.icon-ic_blog:before {
	content: "\e908";
}
.icon-ic_star:before {
	content: "\e909";
}
.icon-img_black_symbol:before {
	content: "\e90a";
}
.icon-icn_login_facebook:before {
	content: "\e90b";
}


*{
  outline: 0;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a, input, button, div, li, textarea, form, label, select {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  font-family: 'Pretendard', 'Apple SD Gothic Neo', '맑은 고딕', '맑은고딕', 'Malgun Gothic', sans-serif;
  font-size: 14px;
  line-height: 1;
  color: rgba(0,0,0,0.87);
  -webkit-text-size-adjust: none;
}

button{
  padding: 0;
  cursor: pointer;
}

ul, li{
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a{
  text-decoration: none;
}
a, input, button, div, li, textarea, form, label, select {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  text-decoration: none;
}

h2 {
  font-size: 24px;
  margin-bottom: 35px;
  color: rgba(0,0,0,0.87);
  font-weight: bold;
}

textarea, button, input, select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  font-family: 'Pretendard', 'Apple SD Gothic Neo', '맑은 고딕', '맑은고딕', 'Malgun Gothic', sans-serif;
}

fieldset, img {
  border: 0;
}

img {
  vertical-align: top;
}

.wrapping.showing{
  opacity: 1;
  visibility: visible;
}

.wrapping{
  width: 100%;
  background: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    transition: 0.4s;
}
header{
  background: #f7323f;
}

header {
  z-index: 210;
}


header section {
    position: relative;
    width: 1024px;
    height: 64px;
    background: none;
    margin: 0 auto;
}


header section h1{
  position: absolute;
  top: 26px;
  left: 31px;
  width: 96px;
  height: 20px;
  margin: 0;
  background: url(https://image.goodchoice.kr/images/web_v3/h1_logo_pc_w.png) 0 0 no-repeat;
  background-size: 96px auto;
}

header section h1 a{
  display: block;
  text-indent: -9999px;
}

header section .menu-button{
  display: none;
  position: absolute;
  top: 2px;
  left: 8px;
  width: 40px;
  height: 40px;
  border: none;
  background: url(https://image.goodchoice.kr/images/web_v3/ico_menu.png) 50% 50% no-repeat;
  background-size: 24px auto;
  text-indent: -9999px;
}

.main-mob header section .search-button{
  position: absolute;
  border: none;
  text-indent: -9999px;
  top: 22px;
  right: 396px;
  z-index: 10;
  width: 30px;
  height: 30px;
  background: url(https://image.goodchoice.kr/images/web_v3/ico_srch_2.png) 50% 50% no-repeat;
  background-size: 24px auto;
}

.main-mob .right-head-container{
  display: inline-block;
  position: absolute;
  top: 27px;
  right: 31px;
}

.right-head-container{
  width: auto;
  text-align: right;
}

.right-head-container li{
  display: inline-block;
  position: relative;
  min-width: 53px;
  min-height: 35px;
  margin-left: 30px;
  vertical-align: top;
}

.right-head-container li a{
  display: inline-block;
  font-size: 18px;
  color: rgba(255,255,255,0.8);
  letter-spacing: 0;
}

.right-head-container li button{
  border: none;
    padding: 0;
    background: none;
    font-size: 18px;
    line-height: 1;
    color: rgba(255,255,255,0.8);
    letter-spacing: 0;
}

button span {
  position: relative;
}

.right-head-container.list-3{
  top: 30px;
  left: -65px;
  width: 184px;
}

.right-head-container li ul{
  display: none;
  position: absolute;
  border-radius: 5px;
  padding: 32px;
  background: #fff;
  text-align: left;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}

.right-head-container li ul li a{
  overflow: visible !important;
  display: block;
  position: relative !important;
  top: auto !important;
  left: auto !important;
  width: auto !important;
  height: auto !important;
  margin: 0;
  font-size: 16px;
  color: rgba(0,0,0,0.87);
}

.right-head-container li a {
  display: inline-block;
  font-size: 18px;
  color: rgba(255,255,255,0.8);
  letter-spacing: 0;
}

/*=================================================== */

#content-body{
  overflow: hidden;
}

.main-point{
  height: 580px;
  background: #fff url(https://image.goodchoice.kr/images/web_v3/mainspot_2306.png) 50% 100% no-repeat;
  background-size: 924px auto;
  text-indent: -9999px;
}

.main-point a{
  height: 580px;
  display: block;
}

.main-link {
  padding: 32px 0 29px 41px;
  background: rgb(253,253,253);
}

.main-link ul {
  overflow: hidden;
  width: 1024px;
  margin: 0 auto;
}

.main-link li {
  float: left;
  width: 163px;
}

.main-link li a {
  display: block;
  height: 107px;
  font-size: 18px;
  color: rgba(0,0,0,0.56);
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.main-link .icon-1{
  background: url(	https://image.goodchoice.kr/images/web_v3/ico_category_01.png) no-repeat;
  background-size: 72px auto;
}

.main-link li a span {
  display: inline-block;
  width: 72px;
  height: 72px;
  margin: 0 auto;
}

.main-link li a {
  font-size: 18px;
  color: rgba(0,0,0,0.56);
  text-align: center;
  cursor: pointer;
}

.main-link li a p {
  height: auto;
  padding-top: 14px;
}

.main-link .icon-2 {
  background: url(https://image.goodchoice.kr/images/web_v3/ico_category_02.png) no-repeat;
  background-size: 72px auto;
}

.main-link .icon-3 {
  background: url(https://image.goodchoice.kr/images/web_v3/ico_category_03.png) no-repeat;
  background-size: 72px auto;
}

.main-link .icon-4 {
  background: url(https://image.goodchoice.kr/images/web_v3/ico_category_04.png) no-repeat;
  background-size: 72px auto;
}

.main-link .icon-5 {
  background: url(https://image.goodchoice.kr/images/web_v3/ico_category_05.png) no-repeat;
  background-size: 72px auto;
}

.main-link .icon-6 {
  background: url(https://image.goodchoice.kr/images/web_v3/ico_category_09.png) no-repeat;
  background-size: 72px auto;
}

.news {
  width: 1024px;
  margin: 0 auto;
  overflow: hidden;
  padding: 78px 31px 0 31px;
}

.news li {
  overflow: hidden;
  float: left;
  position: relative;
  width: 473px;
  height: 162px;
  margin: 0 0 16px 0;
  padding: 0 24px 0 186px;
  border: 1px solid rgba(0,0,0,0.08);
  box-sizing: border-box;
}

.news li:nth-child(even) {
  margin-left: 16px;
}

.recommend li:last-child {
  display: block;
}

.news li a {
  display: block;
  height: 162px;
  font-size: 17px;
  line-height: 1.6;
  color: rgba(0,0,0,0.56);
  box-sizing: border-box;
}

.news li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 162px;
  height: 162px;
}

.news li strong {
  display: block;
  padding: 38px 0 14px 0;
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  color: rgb(0,121,107);
}

.app-download {
  display: block;
  overflow: hidden;
  width: 962px;
  height: 320px;
  margin: 64px auto 78px auto;
  background: url(	https://image.goodchoice.kr/images/web_v3/bg_appdown.png) center center no-repeat;
  background-size: cover;
  text-align: center;
}

.app-download p {
  margin: 103px 0 27px 0;
  font-size: 28px;
  color: rgba(0,0,0,0.87);
}

.app-download div a {
  display: inline-block;
  width: 168px;
  height: 52px;
  margin: 0 4px;
}

.app-download div a img {
  width: 168px;
  height: auto;
}

.swipe-contain img {
  width: 100%;
}

.eventView {
  width: 962px;
  margin: 0 auto;
}

.eventView h2 {
  padding: 0;
}


.swipe-contain {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.swipe-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swipe-slide{
  width: 962px;
  flex-shrink: 0;
  height: 100%;
  position: relative;
}

.swipe-contain-horizontal > .swiper-bullets{
  left: 0;
  width: 100%;
}

.swiper{
  bottom: 16px;
  position: absolute;
  right: 0;
  text-align: center;
  transition: 300ms;
  transform: translate3d(0, 0, 0);
  z-index: 60;
}

.swipe-contain-horizontal .swiper-bullets .swiper-bullet{
  margin: 0 5px;
}

.swiper-click .swiper-bullet{
  cursor: pointer;
}

.swiper-bullet-act{
  border: 2px solid #fff;
  background: #fff;
  width: 9px;
  height: 9px;
}

.swiper-bullet{
  display: inline-block;
  width: 6px;
  width: 9px;
  height: 9px;
  border: 2px solid rgba(255,255,255,0.7);
  border-radius: 100%;
  background: none;
  box-sizing: border-box;
  opacity: 1;
}

.ads{
  width: 962px;
  margin: 24px auto 0 auto;
  overflow: hidden;
}

.ads .mobile {
  display: none;
}

.ads .pc {
  display: block;
}

.ads ul li:first-child {
  display: inline-block;
  float: left;
  width: 473px;
}

.ads ul li:first-child {
  margin-bottom: 8px;
}

.ads ul li{
  height: 200px;
  order: 1px solid rgba(0,0,0,0.04);
  overflow: hidden;
}




.ads ul li {
  height: 200px;
  border: 1px solid rgba(0,0,0,0.04);
}


.ads ul li:last-child {
  display: inline-block;
  float: right;
  width: 473px;
}

.ads ul li a {
  display: block;
  height: 200px;
  padding: 0 0 0;
}

.ads ul li a {
  text-align: center;
}

.ads ul li a img {
  width: 100%;
  height: 200px;
}


footer {
  overflow: hidden;
  clear: both;
  position: relative;
  margin-top: 120px;
  padding: 63px 31px 40px 31px !important;
  border-top: 1px solid rgba(0,0,0,0.08);
  background: rgb(245,245,245);
  font-size: 13px;
  line-height: 20px;
  color: rgba(0,0,0,0.38);
}

footer .ending {
  width: 1024px;
  margin: 0 auto;
}

footer .link{
  overflow: hidden;
}

footer .link li {
  float: left;
  margin-bottom: 5px;
  line-height: normal;
}

footer .link li a {
  display: inline-block;
}

footer a {
  color: rgba(0,0,0,0.38);
}

footer .link li span {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 24px;
  font-size: 11px;
  text-align: center;
}

footer .link li:nth-of-type(3) a {
  color: rgba(0,0,0,0.87);
}


footer .link li:nth-child(5), footer .link li:nth-child(8) {
  clear: none;
}

footer .link li:nth-child(5) span {
  display: none;
}


footer .link li button {
  font-size: 13px;
  padding: 0;
  border: none;
  background: none;
  line-height: 1;
  color: rgba(0,0,0,0.38);
}

footer .link li:nth-child(6) {
  clear: both;
}


footer .link li span {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 24px;
  font-size: 11px;
  text-align: center;
}

footer .link li:nth-child(4) span, footer .link li:nth-child(7) span {
  display: inline-block;
}

footer p {
  clear: both;
  padding: 37px 0 24px 0;
}

footer p b {
  display: inline-block;
  margin-right: 10px;
}


footer p b, footer p span {
    display: inline-block;
}

footer address {
  line-height: 22px;
}

footer address {
  display: inline-block;
}

address, caption, em, var {
  font-style: normal;
  font-weight: normal;
}

footer address span {
  display: block;
  padding-bottom: 7px;
}

footer address .company-order {
  display: block;
  padding: 6px 0;
}

footer .icons {
  margin: 26px 0 0 0;
}

footer .icons {
  overflow: hidden;
  padding: 20px 0 5px 0;
  border-top: 1px solid rgba(0,0,0,0.04);
}

footer .icons a {
  margin-right: 25px;
  font-size: 30px;
  display: inline-block;
  float: left;
  color: rgba(0,0,0,0.48);
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icn_login_facebook:before {
  content: "\e90b";
}

.icon-ic_blog:before {
  content: "\e908";
}